
header {
    height: 2.5rem;
     padding: 0.8rem;
    // border-bottom: solid 0.006rem #0000001c;
    // border-bottom-left-radius: 10px 50px;
    // border-bottom-right-radius: 10px 50px;
    display: flex;
    justify-content: space-between;
  
    h1 {
      margin: 0;
      font-family: monospace;
    }
  
    .logo {
      margin-left: 12px;
      color: antiquewhite;
      font-size: 2.5rem;
    }
  
    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 1rem;
      i {
        font-size: large;
        color: #b0bec5;
      }
    }
  }