<div class="dashboard">

  <header>
    <h1 class="logo">noise</h1>
  </header>


  <section class="main row">
    <ng-container *ngFor="let i of soundList;let music=index">
      <div class="sound col-2">
        <div class="sound-icon" (click)="play(music)">
          <i class="{{i.icon}}" aria-hidden="true" ></i>
          <label>{{i.name}}</label>
        </div>
        <div class="slider">
          <i class="fa fa-volume-down" aria-hidden="true"></i>
          <mat-slider min="0" max="1" step="0.001" (input)="increaseVolume(music,$event)" value="0.6">
            <input matSliderThumb>
          </mat-slider>
          <i class="fa fa-volume-up" aria-hidden="true"></i>
        </div>
      </div>
    </ng-container>
    <div class="sound col-2" (click)="openDialog('0ms', '0ms')">
      <div class="sound-icon" >
        <i class="fa fa-upload" aria-hidden="true" ></i>
        <label>Upload</label>
      </div>
      <div class="slider">
      
      </div>
    </div>
  </section>

  <footer>
    <a href="http://prashilwadkar.github.io">
      <p>Contact Me</p>
    </a>
  </footer>
</div>