<div class="dashboard">
  <app-header></app-header>

  <section class="main row">
    <div class="col-xs-12 col-md-11">
      <div class="row">
        <ng-container *ngFor="let i of soundList;let music=index">
          <div class="sound" [ngClass]="{'playing':i.playing}">
            <div class="sound-icon" (click)="play(music)">
              <i class="{{i.icon}}" aria-hidden="true"></i>
              <label>{{i.name}}</label>
            </div>
            <div class="slider">
              <i class="fa fa-volume-down" aria-hidden="true"></i>
              <mat-slider min="-0.10" max="1.0" step="0.01" (input)="ctrlVolume(music,$event)" value="0.6">
                <input matSliderThumb>
              </mat-slider>
              <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
          </div>
        </ng-container>
        <div class="controls">
          <i class="fa fa-play-circle" aria-hidden="true"></i>
          <i class="fa fa-stop-circle" aria-hidden="true"></i>
        </div>
      </div>
      
    </div>

    <app-sidebar class="col-xs-12 col-md-1"></app-sidebar>


  </section>


  <app-footer></app-footer>

</div>