/* You can add global styles to this file, and also import other style files */
.dashboard {
  width: 100%;
  height: 100%;
  animation-duration: 12s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in;
}

@keyframes color-change {
  0% {
    background-color: #6a737b;
  }

  // 5% {
  //     background-color: #ff0000;
  // }

  16% {
    background-color: #fbb034;
  }

  33% {
    background-color: #ffdd00;
  }

  50% {
    background-color: #c1d82f;
  }

  66% {
    background-color: #00a4e4;
  }

  83% {
    background-color: #8a7967;
  }

  100% {
    background-color: #6a737b;
  }
}

.logo {
  margin-left: 10px;
  color: antiquewhite;
  font-size: 2.5rem;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 48%;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.541);
  }
}

.sound {
  width: 10rem;
  height: 10rem;
  background-color: #fbfbfb29;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;

  .sound-icon{
    display: flex;
    flex-direction: column;
    align-items: center;

    label{
      margin-top: 5px;
      font-weight: 500;
      color: #00000099;
    }
  }

  i{
    font-size: 40px;
    cursor: pointer;
    height: fit-content;
    margin-top: 1rem;
  }

  .slider{
    display: flex;

    i{
      font-size: 1rem;
      height: fit-content;
      margin-top: 1rem;
      color: antiquewhite;
    }
  }
}

.main {
  margin: 0 10vw;
  margin-top: 8rem;
}
