/* You can add global styles to this file, and also import other style files */
.dashboard {
  width: 100%;
  height: 100%;
  animation-duration: 14s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in;
  display: flex;
  flex-direction: column;
}

.dashboard-night {
  animation-name: none;
  background-color: black;
}

@keyframes color-change {
  0% {
    background-color: #6a737b;
  }

  // 5% {
  //     background-color: #ff0000;
  // }

  16% {
    background-color: #fbb034;
  }

  33% {
    background-color: #dfc624;
  }

  50% {
    background-color: #c1d82f;
  }

  66% {
    background-color: #00a4e4;
  }

  83% {
    background-color: #8a7967;
  }

  100% {
    background-color: #6a737b;
  }
}

.playing {
  background-color: rgb(52 23 23 / 38%) !important;
  .sound-icon i,
  label {
    color: antiquewhite !important;
  }
}

.main {
  margin: 0 1rem 0 1rem;
  height: 100%;
  justify-content: center;

  div {
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;

    div {
      margin-top: 0.6rem;
      justify-content: center;
    }

    .controls {
      margin-top: 2rem;
      background-color: rgb(74 69 69 / 18%);
      padding: 4px;
      border-radius: 8px;
      i {
        font-size: 2rem;
        margin: 0 0.9rem;
        color: #ffffffa1;
        cursor: pointer;
      }
    }
  }
}

.mat-slider-horizontal {
  height: 30px !important;
  min-width: 120px !important;
}
