/* You can add global styles to this file, and also import other style files */
.dashboard {
  width: 100%;
  height: 100%;
  animation-duration: 14s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in;
  display: flex;
  flex-direction: column;
}

@keyframes color-change {
  0% {
    background-color: #6a737b;
  }

  // 5% {
  //     background-color: #ff0000;
  // }

  16% {
    background-color: #fbb034;
  }

  33% {
    background-color: #dfc624;
  }

  50% {
    background-color: #c1d82f;
  }

  66% {
    background-color: #00a4e4;
  }

  83% {
    background-color: #8a7967;
  }

  100% {
    background-color: #6a737b;
  }
}

.playing {
  background-color: rgb(52 23 23 / 38%) !important;
  .sound-icon i,
  label {
    color: antiquewhite !important;
  }
}

.main {
  margin: 0 1rem 0 2rem;
  height: 84%;
  justify-content: flex-start;

  div {
    div {
      margin-top: 0.6rem;
      justify-content: center;
    }
  }
}

.mat-slider-horizontal {
  min-width: 120px !important;
}
