<section class="sidebar-main row">
    <!-- <div class="sound col-md-12">
        <div class="sound-icon">
            <i class="material-icons">umbrella</i>
            <label>Test</label>
        </div>
    </div> -->
    <div class="col-xs-3 col-lg">
        <div class="sound ">
            <div class="sound-icon">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label>Test</label>
            </div>
        </div>
    </div>
    <div class="col-xs-3 col-lg">
        <div class="sound col-xs">
            <div class="sound-icon" (click)="openDialog('0ms', '0ms')">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <label>Add</label>
            </div>
        </div>
    </div>
</section>