<section class="main">
<div class="sound col-md-12">
    <div class="sound-icon">
        <i class="fa fa-umbrella" aria-hidden="true"></i>
        <label>Test</label>
    </div>
    <div class="slider">
        <i class="fa fa-volume-down" aria-hidden="true"></i>
        <mat-slider min="-0.10" max="1.0" step="0.01" value="0.6">
            <input matSliderThumb>
        </mat-slider>
        <i class="fa fa-volume-up" aria-hidden="true"></i>
    </div>
</div>
<div class="sound col-md-12">
    <div class="sound-icon">
        <i class="fa fa-umbrella" aria-hidden="true"></i>
        <label>Test</label>
    </div>
    <div class="slider">
        <i class="fa fa-volume-down" aria-hidden="true"></i>
        <mat-slider min="-0.10" max="1.0" step="0.01" value="0.6">
            <input matSliderThumb>
        </mat-slider>
        <i class="fa fa-volume-up" aria-hidden="true"></i>
    </div>
</div>
</section>