<section class="sidebar-main">
    <!-- <div class="sound col-md-12">
        <div class="sound-icon">
            <i class="material-icons">umbrella</i>
            <label>Test</label>
        </div>
    </div> -->
    <div class="sound col-md-12">
        <div class="sound-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label>Test</label>
        </div>
    </div>
    <div class="sound col-md-12">
        <div class="sound-icon" (click)="openDialog('0ms', '0ms')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <label>Add</label>
        </div>
    </div>
</section>