* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

///////For Mobile
///

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .main {
    margin-top: 4rem !important;
  }
}
